[submodule "paho_mqtt_dxl"]
	path = paho_mqtt_dxl
	url = https://github.com/opendxl-community/paho.mqtt.python.git
	branch = master
[submodule "oscrypto"]
	path = oscrypto
	url = https://github.com/wbond/oscrypto.git
